{% extends 'base.html.twig' %}

{% block title %} Info Inutile {% endblock %}

{% block body %}
<div class="container d-flex flex-column">
        <h1 class=" py-15">Infos inutiles</h1>
        {% if infoInutile is not null and infoInutile|length > 0 %}
        <div class="row">
            {% for info in infoInutile %}
            <div class=" col-md-4 d-flex">
                <div class="card bg-transparent">
                    <a href="{{ path('article_info', {"id": info.id}) }}">
                        <img src="{{ asset('images/info_inutile/' ~ info.imageName) }} " class="card-img-top" alt="Le seigneur des anneux">
                    </a>
                    <div class="card-body">
                        <h3 class="card-title">{{ info.titre }}</h3>
{#le |u.truncate(50, '...') sert pour limiter le nombre de caractère dans la description #}
                        <p class="card-text p2">{{ info.description|u.truncate(12, '...')  }}</p>
                    </div>
                <a href="{{ path('article_info', {"id": info.id}) }} " class="btn btn-dark w-100 ">voir l'article</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
</div>

{% endblock %}