{% extends 'base.html.twig' %}

{% block title %} Making of {% endblock %}

{% block body %}
<div class="container d-flex flex-column">
        <h1 class=" py-15">Making-of</h1>
        {% if making_of is not null and making_of|length > 0 %}
        <div class="row">
            {% for of in making_of %}
            <div class="col-md-4 d-flex">
                <div class="card bg-transparent d-flex flex-wrap">
                <a href="{{path('article_of', {"id": of.id}) }}">
                    <img src="{{ asset('images/making_of/' ~ of.imageName) }} " class="card-img-top" alt="">
                    </a>
                    <div class="card-body">
                        <h3 class="card-title">{{ of.titre }}</h3>
{#le |u.truncate(50, '...') sert pour limiter le nombre de caractère dans la description #}
                        <p class="card-text p2">{{ of.description|u.truncate(20, '...')  }}</p>
                    </div>
                <a href="{{ path('article_of', {"id": of.id}) }} " class="btn btn-dark w-100 ">voir l'article</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
</div>
{% endblock %}