{% extends 'base-admin.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <h1>News</h1>
    <a href="{{ path('admin_news_new') }}" class="btn btn-success">Nouveau</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                {# <th>Description</th> #}
                {# <th>ImageName</th> #}
                {# <th>UpdatedAt</th> #}
                {# <th>Detail</th> #}
                {# <th>Video</th> #}
                {# <th>ImageArticle</th> #}
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>
                <td>{{ news.id }}</td>
                <td>{{ news.titre }}</td>
                {# <td>{{ news.description }}</td> #}
                {# <td>{{ news.imageName }}</td> #}
                {# <td>{{ news.updatedAt ? news.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
                {# <td>{{ news.detail }}</td> #}
                {# <td>{{ news.video }}</td> #}
                {# <td>{{ news.imageArticle }}</td> #}
                <td class="text-end">
                    <a href="{{ path('admin_news_show', {'id': news.id}) }}" class="btn btn-primary me-2"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('admin_news_edit', {'id': news.id}) }}" class="btn btn-success"><i class="align-middle" data-feather="edit-2"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune entrée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
