{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    
    {# Affiche d'une alerte Bootstrap de confirmation des changements de données de l'utilisateur #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
        <div class="alert alert-{{ label }}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endfor %}

    <h1 class="text-center">Mon compte</h1>
    <div class="tab-content container mt-4" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <table class="table table-striped">
            <tr>
                <td>Nom</td>
                <td>{{ user.nom}}</td>
            </tr>
            <tr>
                <td>Prénom</td>
                <td>{{ user.prenom}}</td>
            </tr>
            </table>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
